{% extends "layout.html" %}

{% block title %}
    Quiz Answers
{% endblock %}

{% block main %}


<div class="main">
    <div class="biology-text">
        <h1>The Biology Quiz Answers</h1>
          <form name="bioQuizAns" action="/answers", method="post">
            <h3>Q1. What does DNA stand for?</h3>
            <h5>Deoxyribonucleid Acid</h5> <br>
            <h3>Q2. What was Charles Darwin known for?</h3>
            <h5>The theory of natural selection</h5> <br>
            <h3>Q3. What is the correct equation for photosynthesis?</h3>
            <h5>6CO2 + 6H2O → C6H12O6 + 6O2</h5> <br>
            <h3>Q4. What element accounts for more than 60 percent of the human body?</h3>
            <h5>Oxygen</h5> <br>
            <h3>Q5. Enzymes are mostly made of ...?</h3>
            <h5>Proteins</h5> <br>
            <h3>Q6. What organic compound provides energy in living cells?</h3>
            <h5>ATP</h5> <br>
            <h3>Q7. Which four letters in DNA are used to denote the genetic code?</h3>
            <h5>ATCG</h5> <br>
            <h3>Q8. Which organ is responsible for filtering blood and releasing waste?</h3>
            <h5>Kidneys</h5> <br>
            <h3>Q9. Which of the following terms refers to an animal that eat both animals and plants?</h3>
            <h5>Omnivore</h5> <br>
            <h3>Q10. What is Mycology?</h3>
            <h5>The study of Fungi</h5> <br>
            <h3>Q11. Which of the following terms refers to a DNA change that can lead to new characteristics?</h3>
            <h5>Mutation</h5> <br>
            <h3>Q12. Antonie van Leeuwenhoek was the first scientist to observe...?</h3>
            <h5>Bacteria</h5> <br>
            <h3>Q13. RNA is made from DNA by a process called ...?</h3>
            <h5>Transcription</h5> <br>
            <h3>Q14. Why is a gene?</h3>
            <h5>A segment of DNA that codes for a protein</h5> <br>
            <h3>Q15. What is the male sex hormone?</h3>
            <h5>Testosterone</h5> <br>
            <h3>Q16. Male mosquitoes take their food from?</h3>
            <h5>Sap of plants</h5> <br>
            <h3>Q17. Which branch of Zoology deals with the scientific study of animal behavior?</h3>
            <h5>Ethology</h5> <br>
            <h3>Q18. With iodine you can test for?</h3>
            <h5>Carbohydrates</h5> <br>
            <h3>Q19. You can find DNA in the nucleus and in the ... of cells?</h3>
            <h5>Mitochondria</h5> <br>
            <h3>Q20. How do viruses reproduce?</h3>
            <h5>They insert DNA in the host cell</h5> <br>
            <h3>Q21. What structure is responsible for moving the chromosomes during mitosis?</h3>
            <h5>The spindle</h5> <br>
            <h3>Q22. Evolution occurs through the procces of?</h3>
            <h5>Natural Selection</h5> <br>
            <h3>Q23. Diseases that are carried by animals are reffered to as?</h3>
            <h5>Zoonotic</h5> <br>
            <h3>Q24. A human have ... autosomes and .. sex chromosomes?</h3>
            <h5>22 pairs, 1 pair</h5> <br>
            <h3>Q25. If a person receives an X and a Y chromose, that person is?</h3>
            <h5>Male</h5> <br>

          </form>
    </div>
</div>

{% endblock %}

