<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <link href="/static/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

        <title>Biology Quiz: {% block title %}{% endblock %}</title>


    </head>

    <body class="d-flex flex-column min-vh-100">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand px-5 h5" href="https://elinesuijten-code50-112330653-x74gr95p496h6xxp-5000.preview.app.github.dev">Homepage</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbar">
              {% if session["user_id"] %}
                <ul class="navbar-nav me-auto mt-2">
                  <li class="nav-item h5 px-1"><a class="nav-link" href="/quiz">Biology Quiz</a></li>
                  <li class="nav-item h5 px-1"><a class="nav-link" href="/scores">Scores</a></li>
                </ul>
                <ul class="navbar-nav ms-auto mt-2">
                  <li class="nav-item h5 px-5" ><a class="nav-link" href="/logout">Log Out</a></li>
                </ul>
              {% else %}
                <ul class="navbar-nav ms-auto mt-2">
                  <li class="nav-item h5"><a class="nav-link" href="/register">Register</a></li>
                  <li class="nav-item h5 px-5"><a class="nav-link" href="/login">Log In</a></li>
                </ul>
              {% endif %}
            </div>
        </div>
    </nav>


      <main class="container-fluid py-5 text-center">
        {% block main %}{% endblock %}
    </main>
    </div>

      <footer class="page-footer mt-auto bg-dark text-center text-lg-start">
        <div id="footer" class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.3);">
          © 2023 Copyright:
          <a class="text-light" >All rights reserved to Eline Suijten</a>
        </div>
      </footer>
    </body>

</html>
